body{
    margin: 0;
    padding: 0;
}

header{
    width: 80%;
    background-color: rgb(166, 173, 177);
    color: #fff;
    height: 80px;
    position: fixed;
    left: 21.35%;
    z-index: 1;
    
}
.name{
    margin: 30px;    
}

.nameinput{
    border: ;
}

aside{
    width: 20%;
    background-color: rgb(29, 32, 244);
    color: #fff;
    padding: 10px;
    height: 100%;
    position: fixed;
}

main{
    width: 78%;
    background-color: rgb(190, 182, 182);
    min-height: 50%;
    position: absolute;
    left: 21.5%;
    top: 85px;
}

footer{
    width:80% ;
    background-color: rgb(166, 173, 177);
    color: #fff;
    height: 80px;
    position: fixed;
    left: 21.35%;
    bottom: 0;
}